html, body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(29, 28, 28);
    color: white;
    cursor: url(assets/logo.png), auto;
}

h1, h2, h3, h4, h5, p, a{
    font-family: 'Inter' ;
}

.header1 {
    background-color: rgb(31, 26, 26);
    padding: 4% ;
    text-align: center;
    margin: 10%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo-header1 {
    width: 30%;
    flex-direction: row;
    flex-wrap: wrap;
}

::selection {
    
}

.link {
    padding-top: 20px;
    background-color: rgb(31, 26, 26);
    text-align: center;
    margin: 10%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.link li {
    list-style-type: none;
    justify-content: left;
    padding: 7px;
}

.link li a {
    display: block;
    text-decoration: none;
    border: 2px solid rgb(121, 121, 121);
    padding: 10px;
    color: bisque;
    height: auto;
}

.link li a:hover {
    display: block;
    text-decoration: none;
    background-color: rgb(121, 121, 121);
    padding: 10px;
    color: bisque;
}

.footer-bio {
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
}

footer li a{
    text-decoration: none;
    color: white;
}

footer {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}

body {
    
}

@media screen and (min-width: 700px){
    .header1 {
        position: fixed;
        padding: 10px;
        display: inline-flex;
        flex-wrap: wrap;
    }

    .link {
        width: 30%;
        top: px;
        he
    }

    .logo-header1 {
       flex-wrap: wrap;
       flex-direction: row;
       width: 10%;
       padding-left: 7%;
       position: relative;
       top: -120px;
    }

    .footer-bio {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
    }

    footer {
        margin: 0%;
        top: px;
    }

    .bio-footer footer {
        flex-wrap: wrap;
        flex-direction: row;
        position: ;
        top: 120%;
    }

    .container .header1 {

    }
}