html, body {
    background-color: rgb(29, 28, 28);
    color: white;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter';
    pointer-events: none;
}

.header1 {
    background-color: rgb(31, 26, 26);
    min-height: 100vh;
    padding: 10%;
    text-align: center;
    margin: 20%;
    align-items: center;

}

.logo-header1 {
    width: 30%;
    pointer-events: none;
}

::selection {
    pointer-events: none;
    
}

.link {
    display: flex;
    text-decoration: none;
}
.link ul {
    display: flex;
    text-decoration: none;
}

.link ul li a {
    display: block;
    align-items: center;
    
    text-decoration: none;
    list-style: none;
}